
#body {
	background-color: white;
	height: 90%;
}


#divleft {
	background-color: white;
	float: left;
	width: 50%;
	height: 100%;
	border-radius: 10px;
}

#image {
	width: 90%;
	height: 90%;
	margin-left: 35px;
	border-radius: 10px;
}

#divright {
	background-color: white;
	float: right;
	width: 50%;
	height: 100%;
	border-radius: 10px;
}

#right {
	margin-top: 10px;
	/* margin-left: 175px;
	margin-right: 175px;*/
	margin-bottom: 10px; 
	
}